.white-overlay {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 85px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

  transition: all 2s linear;
}

.transferred-bg {
  background: linear-gradient(180deg, #ffffff 0%, #d0ffff 100%) !important;
}
