:root[color-theme='light'] {
    --text: #000;
    --muted:rgba(0, 0, 0, 0.67);
    --inactive:rgba(0, 0, 0, 0.44);
    --bg:rgba(255, 255, 255, 1);
    --fg:rgba(247, 247, 247, 1);
    --fg-trans:rgba(0, 0, 0, 0.03);
    --surface:rgba(255, 255, 255, 1);
    --border:rgba(229, 229, 229, 1);
    --border-trans:rgba(0, 0, 0, 0.1);
    --positive-text:#008D52;
    --negative-text:#EC0047;
    --warning:#FF7D05;
  }
  
  :root[color-theme='dark'] {
    --text:#FFF;
    --muted: rgba(255, 255, 255, 0.67);
    --inactive:rgba(255, 255, 255, 0.44);
    --bg:rgba(0, 0, 0, 1);
    --fg:rgba(25, 25, 25, 1);
    --fg-trans:rgba(255, 255, 255, 0.1);
    --surface:rgba(255, 255, 255, 0.1);
    --border:rgba(41, 41, 41, 1);
    --border-trans:rgba(255, 255, 255, 0.16);
    --positive-text:#3EF9AA;
    --negative-text:#FF588A;
    --warning:#FFA34E;
  }
  