@import '@starport/vue/src/styles/_normalize';
@import '@starport/vue/src/styles/_colors';

@import '@starport/vue/src/styles/_fonts';

@import '_animations';
@import '_responsive';
@import '_elevation';
@import '_icons';
@import '_responsive';
@import '_theme-colors';
@import '_typography';
@import './tailwind';

#app {
  background: var(--bg);
  color: var(--text);

  * {
    box-sizing: border-box;
  }
}
