{
  "env": {
    "browser": true,
    "node": true
  },
  "root": true,
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "unused-imports"
  ],
  "extends": [
    "@vue/typescript/recommended",
    "plugin:vue/vue3-recommended",
    "@vue/prettier/@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "indent": "off",
    "vue/html-self-closing": "off",
    "vue/max-attributes-per-line": "off",
    "@typescript-eslint/camelcase": "off",
    "vue/singleline-html-element-content-newline": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unused-imports/no-unused-imports-ts": "error"
  },
  "overrides": [
    {
      "files": [
        "**/src/**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
