name: Generate demo-account.js

on: workflow_dispatch

jobs:
  demo-accounts:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 16
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    - run: yarn
    - run: yarn generate:demo-acounts
      env:
        DEMO_ACCOUNT_MNEMONIC: ${{ secrets.DEMO_ACCOUNT_MNEMONIC }}
    
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Auto-generate /src/store/demeris-user/demo-account.js